/* Puxando fontes */

@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Poppins:ital,wght@0,100;0,400;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


/* Características gerais */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

#imagemFundo {
    padding: 0;
    margin: 0;
    background-image: url(../imagens/lobby.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #0e0707;
}

#fixed_menu {
    position: fixed;
    bottom: 0;
    list-style-type: none;
    text-align: left;
    width: 100%;
    background:#633838;
    z-index: 1;
}

a.btm_button {
    padding: 18px 40px;
    font-family: 'Creepster', 'Times New Roman', Times, serif;
    font-weight: bold;
    background:#633838;
    font-size: 2rem;
    display: block;
    text-shadow: 2px 2px rgb(131, 21, 21);
}

.btm_option {
    display: inline-block;
}

a.btm_button:hover, a.btm_dropupitem:hover{
    cursor: pointer;
    background-color: #0e0707;
    color: #7e6a6a;
}


.dropup_content {
    display: none;
    position: absolute;
    bottom: 60px;
    background-color: #633838;
    z-index: 1;
}

.dropup_content a {
    text-align: left;
}

.dropup {
    display: inline-block;
    position: relative;
}

.btm_dropupitem {
    padding: 18px 18px;
    font-family: 'Creepster', 'Times New Roman', Times, serif;
    font-weight: bold;
    background:#633838;
    font-size: 2rem;
    display: block;
    text-shadow: 2px 2px rgb(131, 21, 21);
}

.dropup:hover .dropup_content {
    display: block;
}

h3.tituloPost {
    font-size: 3rem;
    margin-bottom: 5px;
    text-shadow: 2px 2px rgb(131, 21, 21);
}

.bodyDash {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 95%;
    margin: auto;
}

#dashboard {
    text-align: center;
    margin-top: 40px;
}

#dashboard > div:first-child {
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding-top: 15px;
}


#dashboard > div:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 15px;
}

.postDash {
    background-color: #4d1313;
    opacity: 0.5;
}

ol.listaPost {
    text-align: left;
}

li.listaPost {
    margin-left: 50px;
}

.postDash, #sideDash div {
    border-bottom: 4px double #050504;
}

.postDash:last-child, #sideDash div:last-child {
    border-bottom: 0;
}

.postDash:hover {
    background-color: lightcoral;
    opacity: 1;
}

h3.tituloPost::first-letter {
    font-family: 'Blaka', 'Times New Roman', Times, serif;
    font-size: 9rem;
}

p.corpoPost, li.listaPost {
    font-size: 1.5rem;
    text-align: left;
    margin-right: 20px;
    line-height: 2em;
}

p.corpoPost {
    text-indent: 30px;
    margin-left: 20px;
}

#sideDash {
    margin-top: 40px;
}

#sideDash > div:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 15px;
}

#sideDash > div:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 15px;
}

#sideDash [class*="Title"]{
    text-align: center;
    font-size: 2em;
}

.bodyDash p, li.listaPost {
    font-size: 1.6em;
    font-family: 'Mukta', 'Times New Roman', Times, serif;
}

#sideDash div {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#sideDash div:hover {
    background-color: lightcoral;
}

.adv, #daily {
    text-align: center;
    background-color: #4d1313;
    opacity: 0.5;
}

.adv:hover, #daily:hover {
    opacity: 1;
}

.dailyImg, .advImg {
    width: 80%;
}

.dailyTitle {
    text-decoration: #4d1313;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

footer {
    margin-top: 50px;
    text-align: center;
    background-color: gray;
}

footer img {
    margin-top: 20px;
    width: 80px;
}

#bodyFooter {
    margin-bottom: 55px;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div{
    padding: 50px;
    background-color: rgb(253, 252, 252, 0.5);
}

#presentation{
    background-image: url(../imagens/sala0.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
}

#presentation h1:nth-child(1) {
    animation-delay: 1.1s;
}
#presentation h1:nth-child(2) {
    animation-delay: 2.1s;
}
#presentation h1:nth-child(3) {
    animation-delay: 3.1s;
}

#presentation .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #0e0707;
    background-color: antiquewhite;
    border: 2px solid rgb(201, 32, 20);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#presentation .cta:hover {
    color: #0e0707;
    font-weight: 500;
    background-color: rgb(201, 32, 20);
}

/* Texto principal - Animação */

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: rgb(201, 32, 20);
}

#presentation h1:nth-child(1) span {
    animation-delay: .8s;
}
#presentation h1:nth-child(2) span {
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3) span {
    animation-delay: 2.8s;
}

#presentation:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0e0707;
    opacity: 0.5;
    z-index: -1;
}

/* Keyframes */
@keyframes text_reveal {
    100%{
        color: #0e0707;
    }
}

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .btm_option {
        display: block;
        text-align: center;
    }
}

/* A partir daqui exemplos que eu aprendi na aula e não são de fato utilizados

Links que posssuem atributo title
a[title] {
    font-size: 2em;
}

Links que possuem valor de href igual a "https://example.org" 
a[href="https://example.org"] {
    color: purple;
}

Links que contém 'example' no atributo href
a[href*="example"] {
    color: red;
}  */